@model crud_registration_web_system.Models.PowerPlantSupplier

@{
    ViewData["Title"] = "Editar Usina";
}

<h1>Editar Usina</h1>

<h4>Altere os Dados da Usina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-check">
                @Html.DisplayNameFor(model => model.PowerPlants[0].Active)  
                <label class="switch">
                    <input type="checkbox" class="form-check-input switch" asp-for="Active">
                    <span class="slider round"></span>
                </label>  
            </div>
            <div class="form-group">
                <label asp-for="Supplier" class="control-label"></label>
                @Html.DropDownListFor(model => model.Supplier, Model.Suppliers, "-- Selecione o Fornecedor --")
            </div>
            <div class="form-group">
                <label asp-for="ConsumerUnit" class="control-label"></label>
                <input asp-for="ConsumerUnit" class="form-control" />
                <span asp-validation-for="ConsumerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
